<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item> 
    <ion-label>Map Styles</ion-label> 
    <ion-select okText="Confirm" cancelText="Dismiss"> 
    <ion-select-option value="streets">Streets</ion-select-option> 
    <ion-select-option value="outdoors">Outdoors</ion-select-option> 
    <ion-select-option value="light">Light</ion-select-option> 
    <ion-select-option value="dark">Dark</ion-select-option> 
    <ion-select-option value="satellite">Satellite</ion-select-option> 
    </ion-select> 
  </ion-item> 

  <ion-item> 
    <ion-label>Distance Units</ion-label> 
    <ion-select okText="Confirm" cancelText="Dismiss"> 
    <ion-select-option value="auto">Automatic</ion-select-option> 
    <ion-select-option value="miles">Miles</ion-select-option> 
    <ion-select-option value="kilos">Kilometers</ion-select-option> 
    </ion-select> 
  </ion-item> 

  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle [(ngModel)]="darkMode"></ion-toggle>
  </ion-item>
  

</ion-content>
